@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$yt: #c4302b;
$dark: #000;
$light: #ECF0F1;
$primery: #fd7d1c;
$white: #fff;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}
html {
  font-family: 'Lato', sans-serif;

}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?13179202');
  src: url('../font/fontello.eot?13179202#iefix') format('embedded-opentype'),
  url('../font/fontello.woff?13179202') format('woff'),
  url('../font/fontello.ttf?13179202') format('truetype'),
  url('../font/fontello.svg?13179202#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.demo-icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

}





