.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.nav-end {
  justify-content: flex-end;
}
.hero__img {
  max-width: 10rem;
  height: auto;
  @include sm {
    max-width: 20rem;
  }
  @include md {
    max-width: 29rem;
  }
}


.title-hero {
  h1{
    font-size: 52px!important;
    color: $primery;
    span {
      color: $dark;
    }
  }


}

//.header_nav {
//  //margin: 1rem;
//  display: flex;
//  flex-direction: row;
//  width: 100%;
//  height: 150px;
//
//  justify-content: flex-end;
//  .question {
//    text-align: center;
//    width: 150px;
//    height: 150px;
//    font-size: 7rem;
//    cursor: pointer;
//  }
//
//
//
//}