//@keyframes spaceboots {
//  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
//  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
//  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
//  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
//  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
//  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
//  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
//  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
//  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
//  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
//  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
//}
@keyframes scale  {
  0% { transform: scale(1); }
  100% {transform: scale(.9);}

}
//home

.hero {
  display: flex;
  max-width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;

  &__link:hover {

    cursor: pointer;
    animation-name: spaceboots;
    animation-duration: 4s;
  }
  //&__link:focus{
  //  animation: scale;
  //  animation-duration: .2s;
  //}

  &__img {
      width: auto;
      height: 30vh;
  }
}
//form



.header_nav {
  //margin: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;

  justify-content: flex-end;
  .question {
    text-align: center;
    width: 150px;
    height: 150px;
    font-size: 7rem;
    cursor: pointer;
  }
  .question:hover {
    color: $light;
    background-color: black;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: background-color, color .4s ease-in-out;
  }
  .yt {
    text-align: center;
    font-size: 7rem;
    width: 150px;
    color: #c4302b;
    height: 150px;
    cursor: pointer;
    transition: background-color, color .4s ease-in-out;

  }
  .yt:hover {
    cursor: pointer;
    color: $light;
    background-color: $yt;
    width: 150px;
    height: 150px;
  }
}