//header

.flex{
  display: flex;
  flex-direction: column;

}

.navbar {
  margin: .5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 2rem;
  &__item {
    text-align: center;
    width: 3rem;
    height: 1.5rem;
  }
  &__link {
    text-decoration: none;
    color: $dark;
    font-size: 2em;
    img{
      max-width: 50px;
      height: auto;

    }

  }

}


.wpapper
{
  width: 100%;
  height: 100%;


}
.mediaYt {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
