
.guest:hover {

  background-color:transparent !important;
}
.navbar-item img {
  max-height: 4rem;
}
.btn-reset {
  margin: 0;
  min-height: 2rem;
  padding: 0;
  font-size: 5rem;
  border: none!important;

  &:hover {
    background-color: transparent !important;
    border: none!important;
  }
  &:focus {
    border: none!important;
  }
}
.button {
  height: 1em;
}

btn-yt {
  background-color: transparent;
  color: #c4302b;
}
