//header

.flex{
  display: flex;
  flex-direction: column;

}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 100vw;
  min-height: 4rem;

  &__item {
    text-align: center;
    width: 3rem;
    height: 1.5rem;
  }
  &__item:last-child {
    margin-right: 1rem;
    @include sm {
      margin-right: 2rem;
    }
  }
  &__link {
    text-decoration: none;
    color: $dark;
    font-size: 2em;
    @include sm {
      font-size: 3rem;

    }
    img{
      max-width: 50px;
      height: auto;
      @include sm {
        max-width: 60px;
      }

    }

  }

}


.wpapper
{
  width: 100%;
  height: 100%;


}
.mediaYt {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
