//header

.flex{
  display: flex;
  flex-direction: column;

}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 100vw;
  min-height: 4rem;
  @include sm {
    min-height: 2rem;
  }

  &__item {

    text-align: center;
    min-width: 3rem;
    min-height: 2rem;
    padding: 0 1rem;
  }
  &__item:last-child {
    margin-right: 1rem;
    @include sm {
      margin-right: 2rem;
    }
  }
  &__link {
    align-items: center;
    text-decoration: none;
    color: $dark;
    font-size: 2.8em;
    @include sm {
      font-size: 3.4em;

    }
    img{
      max-width: 50px;
      height: auto;
      @include sm {
        max-width: 60px;
      }

    }

  }

}


.wpapper
{
  width: 100%;
  height: 100%;


}
.mediaYt {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
