.grid {

  display: grid;
  grid-template-rows: 30vh 1fr;
  align-items: center;
 justify-content: center;
  //max-width: 100vw;
}
.ph-hero{
  flex-basis: 1200px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 3rem;
  text-align: center;
  color: $dark;
  font-weight: 100;
  line-height: 1.5;
  @include sm {

  }
  h1{
    color: $primery;
    font-weight: 400;
    font-size: 2.5em;
    @include sm {
      font-size: 3em;
    }
    }
  p{
    font-size: 1.1em;
    @include sm {
      font-size: 1.1em;
    }


  }
  span {
    color: $dark;
  }
}


.ph-wrapper {
  display: grid;
  grid-template-rows: 2fr 2fr;
  align-items: center;
  font-size: 20px;
  margin-right: 30vw;
  //padding-top: 8rem;
  &__list {
    margin-left: 3rem;
  }
  @include sm {
    padding-top: 0;


  }
  @include md {
    //width: 80vh;
    font-weight: 200;
    //margin-right: 30vw;
    padding-top: 9rem;
    font-size: 2em;


  }
}
.btn-box {
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  @include sm {
    padding-top: 0;
    max-width: 200px;
    display: block;
    position: relative;
    bottom: 30px;
    left: 350px;
    @include md {
      bottom: 50px;
      left: 500px
    }

  }
}
.btn-ph {
  display: flex;
  justify-items: flex-start;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border: solid 1px $dark;
  width: 7rem;
  background-color: $light;
  font-size: 1.5rem;
  border: 1p solid $dark;
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.56);
  transition: ba 1s 1s ease-in-out;
  @include sm {

  }
  &:hover{
    &:after{
      content: "masz odczyn kwasowy";
      display: flex;
      min-width: 300px;
      height: 35px;
      position: relative;
      background-color: $light;
      border: solid 1px black;
      box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.56);
      //justify-content: center;
      top: -70px;
      @include sm {

        top: 60px;
        left: -40%;
        position: absolute;

      }
    }




  }
}
//.btn-ph:hover {
//  display: block;
//  border: 1px solid $dark;
//  //background-color: #42b983;
//  min-width: 300px;
//  height: auto;
//  z-index: 1;
//  &::after {
//    content: "Masz odczyn kwasowy";
//    position: relative;
//    top: 30px;
//    left: 0;
//    //display: block;
//  }



//}
