.ph-hero{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 5rem;
  text-align: center;
  color: $dark;
  font-weight: 100;
  line-height: 1.5;
  h1{
    color: $primery;
    font-weight: 400;
  }
  span {
    color: $dark;
  }
}

.ph-wrapper {
  margin-left: 3rem;
  display: flex;
  height: 100%;
  position: relative;
  flex-direction: column;
  font-size: 15px;
  justify-content: center;
  align-items: start;
  @include sm {
    margin-left: 20rem;
    font-size: 28px;
    flex-direction: row;
    justify-content: start;
    align-items: center;

  }
}

.btn-ph {
  position: absolute;
  height: 3rem;
  width: 7rem;
  bottom: 0;
  left: 30rem;
  background-color: transparent;
  font-size: 1.5rem;
  border: 1p solid $dark;
}
.btn-ph::after {
  position: relative;
  display: block;
  top: 30px;
  left: -50%;
  border: 1px solid $dark;
  //background-color: #42b983;
  content: "Masz odczyn kwasowy";
  min-width: 300px;
  height: auto;
  z-index: 1;


}
