.orange {
    color: #f9b514!important;
}

.hero-body {
    padding: 5rem 1.5rem!important;
}

.dark {
color: #000;
}

.list-ph {
width: fit-content;;
}
.btn-box {
    display: flex;
    justify-content: center;
    position: relative;

}
.btn-zasady {
    border: 1px solid #000;

    padding: .7rem;
    margin-top: 1rem;
    position: absolute;
}
.zasady {
    margin-top: 2rem;
    text-align: center;
}


@media (min-width: 500px) {
    .content ol{
    list-style-position: outside;
    margin-left: 4em;
    margin-top: 1em;
}
    .btn-zasady {
    right: -40%;
}


}
@media (min-width: 1200px) {
    .content ol{
    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;
}


}
